<div class="p">
    <div class="p1"><img class="p10" src="https://th.bing.com/th/id/OIP.nbtxZmaNwCGRYuaEOoNnegAAAA?pid=ImgDet&rs=1" />
    </div>
    <div class="p2"><button class="p20"><a class="am" href="/myclassroom/get">MY CLASSROOM</a></button></div>
    <div class="p3">
        <ul>
            <li><a href="#">Data science <i class="arrow down"></i></a>
                <ul>
                    <li><a href="/course1/6153f3ff23139d8a2432d587">Data engineer</a></li>
                    <li><a href="#">Data scientist</a></li>
                    <li><a href="#">Data analyst</a></li>
                    <li><a href="#">Data engineer</a></li>

                </ul>
            </li>
            <li><a href="#">Programming <i class="arrow down"></i></a>
                <ul>
                    <li><a href="/course1/6154680095ae88fdea0bc9e0">Full stack developer</a></li>
                    <li><a href="#">IOS developer</a></li>
                    <li><a href="#">React</a></li>
                    <li><a href="#">Java web developer</a></li>

                </ul>
            </li>
            <li><a href="#">Product management <i class="arrow down"></i></a>
                <ul>
                    <li><a href="/course1/6154680095ae88fdea0bc9e1">Product manager</a></li>
                    <li><a href="#">AI product manager</a></li>
                    <li><a href="#">Data product manager</a></li>
                    <li><a href="#">Monetization strategy</a></li>

                </ul>


            </li>
            <li><a href="#">Artificial Intelligence <i class="arrow down"></i></a>
                <ul>
                    <li><a href="/course1/6154680095ae88fdea0bc9e2">AI for healthcare</a></li>
                    <li><a href="#">Deep learning</a></li>
                    <li><a href="#">IOT</a></li>
                    <li><a href="#">Microsoft azure</a></li>

                </ul>
            </li>
        </ul>


    </div>
</div>