<html>

<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="p">
        <div class="p1"><img class="p10"
                src="https://th.bing.com/th/id/OIP.nbtxZmaNwCGRYuaEOoNnegAAAA?pid=ImgDet&rs=1" /></div>
        <div class="p2"><button class="p20"><a class="am" href="signup.html">SIGN IN</a></button></div>
        <div class="p3">
            <ul>
                <li><a href="#">Data science</a>
                    <ul>
                        <li><a href="/data">Data engineer</a></li>
                        <li><a href="#">Data scientist</a></li>
                        <li><a href="#">Data analyst</a></li>
                        <li><a href="#">Data engineer</a></li>

                    </ul>
                </li>
                <li><a href="#">Programming</a>
                    <ul>
                        <li><a href="/web">Full stack developer</a></li>
                        <li><a href="#">IOS developer</a></li>
                        <li><a href="#">React</a></li>
                        <li><a href="#">Java web developer</a></li>

                    </ul>
                </li>
                <li><a href="#">Product management</a>
                    <ul>
                        <li><a href="/prduct">Product manager</a></li>
                        <li><a href="#">AI product manager</a></li>
                        <li><a href="#">Data product manager</a></li>
                        <li><a href="#">Monetization strategy</a></li>

                    </ul>


                </li>
                <li><a href="#">Artificial Intelligence</a>
                    <ul>
                        <li><a href="/health">AI for healthcare</a></li>
                        <li><a href="#">Deep learning</a></li>
                        <li><a href="#">IOT</a></li>
                        <li><a href="#">Microsoft azure</a></li>

                    </ul>
                </li>
            </ul>


        </div>
    </div>

    <div class="a">
        <div class="b"><img class="c"
                src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/JgWjZQFqYcS4mQRLZZaa2/f378f7d35ee0dabebf86e1cdc39170ac/ladybug-hero-image-1x.jpg?fm=webp&q=60" />
        </div>
        <div class="d"><b>The latest digital skills, within reach.</b></div>
        <div class="e">Discover the fastest, most effective way to gain job-ready expertise for the careers of the
            future.</div>
        <div class="f">
            <div class="g">
                <div class="j" style="background-color:lightgreen;"></div>
                <button class="h">FOR INDIVIDUALS</button>
                <div class="i">Transform your career.</div>
            </div>
            <div class="g">
                <div class="j" style="background-color:blue;"></div>
                <button class="h">FOR ENTERPRISE</button>
                <div class="i">Transform your bussiness.</div>
            </div>
            <div class="g">
                <div class="j" style="background-color:rgb(202, 202, 58);"></div>
                <button class="h">FOR GOVERNMENT</button>
                <div class="i">Transform your workforce.</div>
            </div>
        </div>
    </div>
    <br />

    <div class="k">Explore our schools to find your perfect program</div>
    <div class="l">
        <button class="l1" id="a10" onclick="data('datascience')">Data Science</button>
        <button class="l1" id="a11" onclick="data('programming')">Programming</button>
        <button class="l1" id="a12" onclick="data('productmanagement')">Product Management</button>
        <button class="l1" id="a13" onclick="data('AI')">Artificial Intelligence</button>
    </div>
    <div class="m">
        <div class="n">
            <div class="n1">
                <img class="n4" onclick="abc('a1')" ; id="g1" />
            </div>
            <div id="a1" class="n2"></div>
            <div id="b1" class="n3"></div>

        </div>
        <div class="n">
            <div class="n1">
                <img class="n4" id="g2" />
            </div>
            <div id="a2" class="n2"></div>
            <div id="b2" class="n3"></div>

        </div>
        <div class="n">
            <div class="n1">
                <img class="n4" id="g3" />
            </div>
            <div id="a3" class="n2"></div>
            <div id="b3" class="n3"></div>

        </div>
        <div class="n">
            <div class="n1">
                <img class="n4" id="g4" />
            </div>
            <div id="a4" class="n2"></div>
            <div id="b4" class="n3"></div>

        </div>
    </div>

    <div id="asd">
        <div>
            <h1>Don't waste your valuable time or money</h1>
            <p class="cls10">Only Udacity has all the critical factors to deliver real results</p>
        </div>
        <div id="ax">
            <div class="bx">
                <div class="bx1" style="background-color: deepskyblue;color:deepskyblue;"> 1</div><br>
                <img class="img2"
                    src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6pk4riNMII7w6COla8glF4/8c8655c3e7f185537eec5ee9ed118e83/EmployeableSkills__1_.svg" />
                <h3>Get real employable skills</h3>
                <div class="cls9">Our quality curriculum is designed</div>
                <div class="cls9">with top-tier industry partners, not</div>
                <div class="cls9">academics, so you learn the high-</div>
                <div class="cls9">impact skills that top companies</div>
                <div class="cls9">want.</div>

            </div>
            <div class="bx">
                <div class="bx1" style="background-color: yellow;color: yellow;">1</div><br>
                <img class="img2"
                    src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6oOXJEvILWWE2x4mUiRnwH/fc4d17a755c4e78b11bb24775458fcc2/ActiveLearning__1_.svg" />
                <h3>Project-based, active learning</h3>

                <div class="cls9">Learn by doing with real-world</div>
                <div class="cls9">projects and other hands-on</div>
                <div class="cls9">academics, so you learn the high-</div>
                <div class="cls9">mastery.</div>


            </div>
            <div class="bx">
                <div class="bx1" style="background-color: lightgreen;color: lightgreen;">1</div><br>
                <img class="img2"
                    src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/1lUt0ObnFgoXsVtDTRaiIB/ba0d0f3d6e84f6f0740234ccb474ed28/Schedule__1_.svg" />
                <h3>Learn on your schedule</h3>
                <div class="cls9">Self-paced learning - whenever</div>
                <div class="cls9">and wherever you want.</div>
                <div class="cls9">Graduate while learning part-</div>
                <div class="cls9">time for 10 hrs/week.</div>


            </div>
            <div class="bx">
                <div class="bx1" style="background-color: purple;color: purple; ">1</div><br>
                <img class="img2"
                    src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7mYegAlCmb6Zmh4fvWlAxK/e036c865aff3c5b1f9f816d08ab2a545/HelpYouNeed__1_.svg" />
                <h3>The help you need, when you need it</h3>

                <div class="cls9">Reach out to our mentors 24/7</div>
                <div class="cls9">and have your coding questions</div>
                <div class="cls9">answered quickly so you can</div>
                <div class="cls9">keep learning.</div>


            </div>
        </div>

    </div>
    <br><br><br><br><br>




    <div id="ïd1">
        <p id="cls1" class="cls2">We are powered by industry</p><br>
        <p class="cls2">Our Nanodegree programs are built in partnership with the world’s</p>
        <p class="cls2">most innovative tech companies and taught by industry leaders.</p>
    </div>
    <br>

    <div id="id2">
        <img id="img1"
            src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2UtwS6ncaXmx6WqVEO6Oub/8d19d851b14ab6b913669fae6ca3a8b5/google-logo.png?fm=webp&q=100" />
        <img id="img1"
            src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5cvkzOuNDF7ufQuiGnWEde/5084a36dd91a11028bbeb722f7f21818/aws-logo.png?fm=webp&q=100" />
        <img id="img1"
            src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2peqKnHw89OvG9dNgzqsFL/a5795ff607036d37505cffa42fdddee1/mode-logo.png?fm=webp&q=100" />
        <img id="img1"
            src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3ia9REv0wKYiEEXMEERLf1/7f9ac4f31d4183c5fd4d660b7177b7a2/alteryx-logo.png?fm=webp&q=100" />
        <img id="img1"
            src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6FHSYdz556PxJKVXfiyLSN/547b71cad54a60050e378a5dca14e834/ibm-logo.png?fm=webp&q=100" />
        <img id="img1"
            src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3kGWSPzG7LPV7JJ9CSPtUX/1b5b6834edbfb1e577271bd182ba1f92/microsoft-logo.png?fm=webp&q=100" />
        <img id="img1"
            src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6qNF9DiK0Fylqh4iDepDkp/29663f48299077e1e3ed22ae11922ce9/Intel-logo.png?fm=webp&q=100" />
        <img id="img1"
            src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3PZY3lsFdMavhdGaA37uOx/f4088cc9f654b9266697e75961bd9bac/uipath-logo.png?fm=webp&q=100" />
    </div>
    <div id="popup">
        <p id="cls1" class="cls2">Make the most of your online learning experience</p><br>
        <p class="cls2">Our Online Learning Resource Center has tips, tricks and inspiring stories to help you learn
            while staying</p>
        <p class="cls2">home.</p>
        <br>
        <button id="btn1">EXPLORE RESOURCES</button>
        <br>
    </div>













    <div>
        <div id=footer>
            <div id="imagelogolay">
                <img src="https://cdn.freebiesupply.com/logos/large/2x/udacity-logo-png-transparent.png" id="imglogo">
            </div>
            <div id="whole-body-content">
                <div class="content5">
                    <p><span class="boldtext">FEATURED PROGRAMS</span><br />

                        Business Analytics<br />
                        SQL<br />
                        Data Engineer<br />
                        Data Analyst<br />
                        Intro to Programming<br />
                        Digital Marketing<br />
                        Self Driving Car Engineer</p>
                </div>
                <div class="content5">
                    <p><span class="boldtext">ONLY AT UDACITY</span><br />

                        Artificial Intelligence<br />
                        Deep Learning<br />
                        Digital Marketing<br />
                        Flying Car and Autonomous Flight Engineer<br />
                        Intro to Self-Driving Cars<br />
                        Machine Learning Engineer<br />
                        Robotics Software Engineer</p>

                    <p><span class="boldtext">UDACITY SCHOOLS</span><br />

                        School of Artificial Intelligence<br />
                        School of Autonomous Systems<br />
                        School of Business<br />
                        School of Cloud Computing<br />
                        School of Cybersecurity<br />
                        School of Data Science<br />
                        School of Programming<br />
                        School of Product Management<br />
                    </p>
                </div>
                <div class="content5">
                    <p><span class="boldtext">ENTERPRISE</span><br />

                        Udacity for Enterprise<br />
                        Digital Transformation with Udacity<br />
                        Artificial Intelligence for Enterprise<br />
                        Cybersecurity for Enterprise<br />
                        Data Science for Enterprise<br />
                        Udacity for Financial Services<br />
                        Corporate Social Responsibility<br />
                        Enterprise Resource Center<br />
                    </p>
                    <p><span class="boldtext">GOVERNMENT</span><br />

                        Udacity for Government
                    </p>
                </div>
                <div class="content5">
                    <p><span class="boldtext">RESOURCES</span><br />

                        Catalog<br />
                        Career Resource Center<br />
                        Career Services<br />
                        Student Success<br />
                        Udacity Talks<br />
                        Scholarships<br />
                        What is AI?</p>
                    <p><span class="boldtext">COMPANY</span><br />

                        About<br />
                        Blog<br />
                        In the News<br />
                        Jobs at Udacity<br />
                        Affiliates<br />
                        Become an Instructor</p>
                </div>
                <div class="content5">
                    <p><span class="boldtext">SUPPORT</span><br />

                        Contact Us<br />
                        Help and FAQ<br />
                        Service Status<br />
                        Tech Requirements</p>
                </div>

            </div>
            <div class="br"></div>
            <div class="policy">
                <div>© 2011–2021 Udacity, Inc.Legal & Privacy Site Map</div>
                <div>
                    <img class="v" src="https://www.udacity.com/images/core/footer/footer-social/facebook.svg" alt="">
                    <img class="v" src="https://www.udacity.com/images/core/footer/footer-social/twitter.svg">
                    <img class="v" src="https://www.udacity.com/images/core/footer/footer-social/linkedin.svg">
                    <img class="v" src="https://www.udacity.com/images/core/footer/footer-social/instagram.svg">
                </div>
            </div>
            <div class="end">
                <div class="end1">"Nanodegree" is a registered trademark of Udacity. © 2011–2021 Udacity, Inc.</div>
                <div class="end2">Udacity is not an accredited university and we don't confer traditional degrees.
                    Udacity Nanodegree programs represent collaborations with our industry partners who help us develop
                    our content and who hire many of our program graduates.</div>
            </div>
        </div>
    </div>



    </div>


    <script>
        var datascience = [{ name: "Data Engineer", time: 8 }, { name: "Data Analyst", time: 6, }, { name: "Data Science", time: 7 }, { name: "SQL", time: 8 }];
        var programming = [{ name: "Full stack developer", time: 8 }, { name: "iOS Developer", time: 7 }, { name: "React", time: 6 }, { name: "Java web developer", time: 5 }];
        var product = [{ name: "Product management", time: 5 }, { name: "AI product manager", time: 6 }, { name: "Data product manager", time: 7 }, { name: "Monetization strategy", time: 8 }];
        var AI = [{ name: "AI for healthcare", time: 8 }, { name: "Deep learning", time: 9 }, { name: "IOT", time: 10 }, { name: "Microsoft Azure", time: 11 }]
        var images = [
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/3rwaAEsoRTEH5tG7hkbmiP/7104590268166374b6165b47d01bb454/data_scientist_catalog_image.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4zEEr4FUkSQ7U1UgVPPCHB/d4c2b2a0df97251f8c64a4e1b248f313/data_engineer_catalog_image.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4x4nYFuwsS0CVlfp5YQjZQ/13a0153215af9d8be77a0746bf675b25/data_analyst_catalog_image.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4Vsc69B7HtGJleUbsGoEQF/df82194a8785db58a5fc6e344ef71ad0/catalog_image_nd072.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6zlIQnEmoOGUINUlGdqxog/66e27c4847426acca10fb1a04abb66da/catalog-card-6.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/5gOjBf0OJwC2gIHsmlT20G/7db648c216f61ae1f05d3a64a59baf1a/instructor-pointing-at-computer-screen.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2UhQyfps3lPG6s5VapdnkO/ce4eabfb7c084b7d577c9e2e84d2b841/catalog-140x120.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4j3k0Fuu9EWVbf7TcdlkIs/f6e426f39867b633c72c6ca649e110c7/Marketing_analytics_catalog_image.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7ufWxtIFBsBSpMVJ3nA9rK/f807a01af1233cafcebd0539e221d4b0/man-analyzing-data-card.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6IIUwmXtznUr9zz2Iy9cBh/9dcdd2b93d2655f9373d400e2e8da3c7/catalog-card-7.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6mEuxTnE9mxQOrobcU18Re/926be9782dd001e321d6c03356d1e49c/business_analytics_catalog_image.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7a2rYlzgIddrvFJwX58H1G/b7e346a7f64180d16c0f882c5c260a60/catalog-card__2_.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/30QHPv8aAYDo825f1PvYmg/663df4b4cf32a77fa0893ec92db522d3/cloud_devops_catalog_image.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/4jKQNZc9hc9f4YE3ltWinI/91e3800980872d65bc283a828a2892a0/data_streaming_Catalog_image.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6zlIQnEmoOGUINUlGdqxog/66e27c4847426acca10fb1a04abb66da/catalog-card-6.jpg",
            "https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/7HKYKfoPT385EIVb6V8FTv/638ecf30ee4adca17c3d535c8fddeae8/hero-bg-1180x624.jpg",
        ]
        function data(p) {

            if (p == 'datascience') {
                var a1 = document.getElementById('a1');
                var a2 = document.getElementById('a2');
                var a3 = document.getElementById('a3');
                var a4 = document.getElementById('a4');
                a1.innerHTML = datascience[0].name;
                a2.innerHTML = datascience[1].name;
                a3.innerHTML = datascience[2].name;
                a4.innerHTML = datascience[3].name;

                document.getElementById('b1').innerHTML = "Estimated time : " + datascience[0].time + " months";
                document.getElementById('b2').innerHTML = "Estimated time : " + datascience[1].time + " months";
                document.getElementById('b3').innerHTML = "Estimated time : " + datascience[2].time + " months";
                document.getElementById('b4').innerHTML = "Estimated time : " + datascience[3].time + " months";

                var g1 = document.getElementById('g1');
                var g2 = document.getElementById('g2');
                var g3 = document.getElementById('g3');
                var g4 = document.getElementById('g4');
                g1.src = images[0];
                g2.src = images[1];
                g3.src = images[2];
                g4.src = images[3];

                document.getElementById('a10').style.fontWeight = "bolder";
                document.getElementById('a11').style.fontWeight = "lighter";
                document.getElementById('a12').style.fontWeight = "lighter";
                document.getElementById('a13').style.fontWeight = "lighter";



            }
            else if (p == 'programming') {

                var a1 = document.getElementById('a1');
                var a2 = document.getElementById('a2');
                var a3 = document.getElementById('a3');
                var a4 = document.getElementById('a4');
                a1.innerHTML = programming[0].name;
                a2.innerHTML = programming[1].name;
                a3.innerHTML = programming[2].name;
                a4.innerHTML = programming[3].name;
                document.getElementById('b1').innerHTML = "Estimated time : " + programming[0].time + " months"
                document.getElementById('b2').innerHTML = "Estimated time : " + programming[1].time + " months"
                document.getElementById('b3').innerHTML = "Estimated time : " + programming[2].time + " months"
                document.getElementById('b4').innerHTML = "Estimated time : " + programming[3].time + " months"

                var g1 = document.getElementById('g1');
                var g2 = document.getElementById('g2');
                var g3 = document.getElementById('g3');
                var g4 = document.getElementById('g4');
                g1.src = images[12];
                g2.src = images[13];
                g3.src = images[14];
                g4.src = images[15];

                document.getElementById('a10').style.fontWeight = "lighter";
                document.getElementById('a11').style.fontWeight = "bolder";
                document.getElementById('a12').style.fontWeight = "lighter";
                document.getElementById('a13').style.fontWeight = "lighter";


            }
            else if (p == "productmanagement") {

                var a1 = document.getElementById('a1');
                var a2 = document.getElementById('a2');
                var a3 = document.getElementById('a3');
                var a4 = document.getElementById('a4');
                a1.innerHTML = product[0].name;
                a2.innerHTML = product[1].name;
                a3.innerHTML = product[2].name;
                a4.innerHTML = product[3].name;
                document.getElementById('b1').innerHTML = "Estimated time : " + product[0].time + " months"
                document.getElementById('b2').innerHTML = "Estimated time : " + product[1].time + " months"
                document.getElementById('b3').innerHTML = "Estimated time : " + product[2].time + " months"
                document.getElementById('b4').innerHTML = "Estimated time : " + product[3].time + " months"

                var g1 = document.getElementById('g1');
                var g2 = document.getElementById('g2');
                var g3 = document.getElementById('g3');
                var g4 = document.getElementById('g4');
                g1.src = images[4];
                g2.src = images[5];
                g3.src = images[6];
                g4.src = images[7];

                document.getElementById('a10').style.fontWeight = "lighter";
                document.getElementById('a11').style.fontWeight = "lighter";
                document.getElementById('a12').style.fontWeight = "bolder";
                document.getElementById('a13').style.fontWeight = "lighter";



            }
            else if (p == "AI") {

                var a1 = document.getElementById('a1');
                var a2 = document.getElementById('a2');
                var a3 = document.getElementById('a3');
                var a4 = document.getElementById('a4');
                a1.innerHTML = AI[0].name;
                a2.innerHTML = AI[1].name;
                a3.innerHTML = AI[2].name;
                a4.innerHTML = AI[3].name;
                document.getElementById('b1').innerHTML = "Estimated time : " + AI[0].time + " months"
                document.getElementById('b2').innerHTML = "Estimated time : " + AI[1].time + " months"
                document.getElementById('b3').innerHTML = "Estimated time : " + AI[2].time + " months"
                document.getElementById('b4').innerHTML = "Estimated time : " + AI[3].time + " months"

                var g1 = document.getElementById('g1');
                var g2 = document.getElementById('g2');
                var g3 = document.getElementById('g3');
                var g4 = document.getElementById('g4');
                g1.src = images[8];
                g2.src = images[9];
                g3.src = images[10];
                g4.src = images[11];

                document.getElementById('a10').style.fontWeight = "lighter";
                document.getElementById('a11').style.fontWeight = "lighter";
                document.getElementById('a12').style.fontWeight = "lighter";
                document.getElementById('a13').style.fontWeight = "bolder";



            }
        }

        data('datascience');



        function abc(g) {
            var a = document.getElementById(g).innerText;
            if (a == "Data Engineer") {
                window.location.href = "/data"
            }
            else if (a == "Full stack developer") {
                window.location.href = "/web";
            }
            else if (a == "Product management") {
                window.location.href = "/product";
            }
            else if (a == "AI for healthcare") {
                window.location.href = "/health";
            }
        }




    </script>