
<html>
    <head>
        
        <title>PURCHASED COURSES</title>
       
    </head>
    <link rel="stylesheet" href="../css/main.css">
    
    <body>
       
        <div class="udacity"><a href="classroom.html"><img  src="https://payment.udacity.com/static/media/logo.ccbc74e4.svg"/></a></div>
        <h1 id="remove">MY CLASSROOM IS EMPTY</h1>
    </body>
    
    <script src="../scripts/main.js">
      
    </script>
    </html>