<html>

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <title>PURCHASED COURSES</title>

</head>
<link rel="stylesheet" href="../css/main.css">

<body>

    <div class="udacity"><a href="/"><img src="https://payment.udacity.com/static/media/logo.ccbc74e4.svg" /></a></div>
    <div class="b1">
        <div class="b2">Your courses</div>
        <% selectedCourses.forEach(element=> { %>
            <div class="c1">
                <div class="c2">
                    <img class="c21" src="<%= element.image %> ">
                </div>
                <div class="c3">
                    <%= element.Heading_Banner %>
                </div>
                <div class="c31" onclick="remove(<%= JSON.stringify(element._id)%>)"><img
                        src="https://mpng.subpng.com/20190612/uf/kisspng-computer-icons-clip-art-portable-network-graphics-delete-logo-png-vector-clipart-psd-peoplepng-c-5d0186f9b534f8.7792337815603811777422.jpg">
                </div>
                <div class="c4">
                    <%= element.Description_Banner %>
                </div>
                <a class="c5" href=""><span>Watch</span></a>
            </div>
            <% }); %>

    </div>
</body>

<script src="../js/main.js">

</script>

</html>