<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Classroom</title>
    <link rel="stylesheet" href="../css/myclassroom.css">
</head>

<body>
    <!-- <div id="myclassroom"> -->
    <div id="nav-bar">
        <div class="topbar">
            <div><img src="https://www.mooclab.club/attachments/udacity-new-logo-large-jpg.861/" class="imgnavbar">
            </div>
            <div class="imgtop"><img
                    src="https://p7.hiclipart.com/preview/989/932/841/computer-icons-course-learning-education-training.jpg"><a
                    href="/main" class="nun">My Courses</a></div>
            <div class="imgtop"><img
                    src="https://cdn2.vectorstock.com/i/1000x1000/54/71/home-flat-white-color-icon-vector-5285471.jpg">Home
            </div>
            <div class="imgtop"><img src="https://image.flaticon.com/icons/png/512/883/883251.png">Help</div>
            <div class="imgtop"> <img src="https://mirrors.creativecommons.org/presskit/icons/share.xlarge.png">Catalog
            </div>
        </div>
        <div class="bottombar">
            <div class="imgbot"><img src="https://www.urbanthreads.com/productImages/regularSize/UTH6005.jpg">Setting
            </div>
            <div class="imgbot"><img src="https://image.flaticon.com/icons/png/512/154/154348.png"><a class="am"
                    href="/">Logout</a></div>
        </div>
    </div>
    <div id="whole-cont">
        <div id="head">HOME</div>
        <div id="body">
            <div class="text1">Welcome!</div>
            <div class="text2">It's looking a bit empty right now, we know. But this is where you'll find your
                applications, as well as all the free courses and Nanodegrees that you're part of when you sign up.
            </div>
            <div class="text3">OUR TOP 4 PROGRAMS</div>
            <div class="lec">
                <div><img
                        src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/6pTWXDXJ3MP8jfn755MT97/cfb772d989e35116d7971b5370d80de9/DSGN-1158_Syllabus_500x324.jpg">
                </div>
                <div class="videodes">
                    <p class="topic">Data Engineer</p>
                    <p class="descrip">Data Engineering is the foundation for the new world of Big Data.Enroll now to
                        build production-ready data infrastructure, an essential skill for advancing your data career.
                    </p>
                </div>
                <div class="btn22"><a href="data.html">LEARN MORE</a></div>
            </div>
            <div class="lec">
                <div><img
                        src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/273mc9O02LTqyMEt024VYZ/3a62e00da4bd2837d74f5cd4776a8f2c/syllabus.jpg">
                </div>
                <div class="videodes">
                    <p class="topic">Full Stack web developer</p>
                    <p class="descrip">Learn to design and develop powerful modern web applications that form the
                        foundation for the apps, websites, and systems that people and businesses use every day.</p>
                </div>
                <div class="btn22"><a href="web.html">LEARN MORE</a></div>
            </div>
            <div class="lec">
                <div><img
                        src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/48s5ydBPYT9MhNcz5v4MnT/7a719c2731e9e7e522657f403067fb7b/ndHero-course-darkened_.jpg">
                </div>
                <div class="videodes">
                    <p class="topic">Product Manager</p>
                    <p class="descrip"> Envision and lead the product strategy of industry-defining products, and learn
                        to successfully bring them to market.
                        Influence the execution of product development as a Product Manager.</p>
                </div>
                <div class="btn22"><a href="product.html">LEARN MORE</a></div>
            </div>
            <div class="lec">
                <div><img
                        src="https://www.udacity.com/www-proxy/contentful/assets/2y9b3o528xhq/2JQi0KFMx4gzDHo77ke0yn/7d40e355d7710dd2d50746c5e5098d84/syllabus__5_.jpg">
                </div>
                <div class="videodes">
                    <p class="topic">AI for HealthCare</p>
                    <p class="descrip">Be at the forefront of the revolution of AI in Healthcare, and transform patient
                        outcomes.
                        Enable enhanced medical decision-making powered by machine learning to build the treatments of
                        the future.</p>
                </div>
                <div class="btn22"><a href="health.html">LEARN MORE</a></div>
            </div>

        </div>
    </div>
</body>

</html>