body{
    font-family: 'Open Sans',sans-serif;
}
#remove{
    margin:auto;
    text-align:center;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
}
.udacity{
    height:8%;
    width:12%;
    
}
.udacity img{
    height:100%;
    width:100%;
}
.b1{
    height:70%;
    width:80%;
    border-radius:10px;
    margin-top:5%;
    margin-left:10%;

}
.b2{
    height:8%;
    width:25%;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 3%;
    margin-left:2%;
    font-family: 'Open Sans',sans-serif;
    margin-top: -4%;
}
.c1{
    height:28%;
    margin-top:1%;
    width:80%;
    margin-bottom:2%;
    margin-left:8%;
    border-radius:10px;
    box-shadow:-2px -2px 2px 2px lightgray,2px 2px 2px 2px lightgray;
    
}
.c2{
    height:100%;
    width:25%;
    
    float:left;
    border-radius:10px;
}
.c21{
    height:80%;
    width:80%;
    margin-top:5%;
    margin-left:5%;
    
}
.c3{
    height:18%;
    width:25%;
    
    margin-left:1%;
    margin-top:2%;
    float:left;
    font-family: 'Open Sans',sans-serif;
}
.c31{
    margin-right: 3%;
    margin-top: 2%;
    float: right;
    width: 3%;
    height: auto;
    cursor: pointer;
}
.c31>img{
    width: 100%;
}

.c4{
    height:50%;
    width:55%;
    margin-top:1%;
    margin-left:1%;
    float:left;
    line-height:1.6;
    font-family: 'Open Sans',sans-serif;
    font-size:13px;
}
.c5{
    float:right;
    margin-right:4%;
    height:24%;
    width:11%;

    margin-right: 2%;
    margin-top:2%;
    color:white;
    background-color:teal;
    text-decoration:none;
    text-align:center;
    border-radius:5px;

}