body {
    width: 100%;
    height: 100%;
   display: grid;
   grid-template-columns: 20% 80%;
   grid-gap: 0%;
  margin: 0px;
  background-color: rgb(244, 250, 250);
  font-family: 'Open Sans',sans-serif;
}
#nav-bar {
    background-color: #26313a;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
overflow: hidden;
} 

#whole-cont{
    width: 100%;
    width: 100%;
    height: 100%;
}
#head {
 height: 60px;
 box-shadow:0 2px 8px 0 rgb(0 0 0 / 20%);
 margin: 0px 0px 32px;
 width:100%;
 align-items: center;
 justify-content: left;
 background-color: rgb(246, 250, 250);
 display: flex;
 padding-left: 3%;
 flex-direction: row;
 font-family: 'Open Sans',sans-serif;
 position: fixed;
}
#body {
    width:78%;
    margin: auto;
    margin-top: 32px;
}
.imgnavbar {
    width:100%;
    margin-top:0px;
}
.imgtop img {
    width:10%;
    margin: 15px;
    margin-right:20px;
    margin-left: 15px;
}
.imgtop {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Open Sans',sans-serif;
}
.imgbot img {
    width:15%;
    margin: 15px;
    margin-right:20px;
    margin-left: 15px;
}
.imgbot {
 color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Open Sans',sans-serif;
}
.lec {
    width: 90%;
    height: 13%;
    display: grid;
    grid-template-rows:200px;
    grid-template-columns: 25% 50% 25%;
    justify-content: space-between;
    align-items: center;
    grid-gap: 3%;
    font-family: 'Open Sans',sans-serif;
    padding: 0px;
    background-color: rgb(248, 242, 242);
    box-shadow: 0 0 40px 20px rgba(185, 175, 175, 0.18);
    border-radius: 10px;
    margin-bottom: 3%;
}
.text1 {
    margin-top: 7%;
    font-size: 38px;
    color: rgb(31, 29, 29);
    margin-bottom: 2%;
    letter-spacing: .125rem;
    font-family: 'Open Sans',sans-serif;
    padding:5px;
}
.text2 {
 letter-spacing: .135rem;
 line-height: 1.75em;
 color: rgb(133, 125, 125);
 margin-bottom: 2%;
 font-size: 15px;
 font-family: 'Open Sans',sans-serif;
}
.text3 {
 letter-spacing: .125rem;
 color: rgb(41, 38, 38);
 font-weight: 550;
 margin-bottom: 2%;
 font-size: 13px;
 font-family: 'Open Sans',sans-serif;
}
.lec img {
    width: 100%;
    height: 10%;
    margin-top: 10px;
    text-decoration: none;
}
.nun {
 text-decoration: none;
 color: white;
}
.videodes {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.btn22 {
    width: 100%;
}
.btn22 button {
    border: none;
    color: rgb(255, 255, 255);
    padding: 8px 20px;
    background-color: rgb(21, 155, 155);
    border-radius: 5px;
    font-size: 15px;
    letter-spacing: .125rem;
}
.btn22 a {
    text-decoration: none;
    color: rgb(100, 95, 95);
    font-size:12px;
    letter-spacing :1px;
}
.descrip {
 line-height: 1.75em;
 color: rgb(100, 95, 95);
 font-size: 12px;
}
.am {
    text-decoration: none; color: white;
}