* {
    box-sizing: border-box;
  }
  
  body {
    background: rgb(255, 254, 254);
    font-family: sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased
  }
  
  .form {
    width: 700px;
    background: rgb(250, 247, 247);
    box-shadow:0 2px 8px 0 rgb(0 0 0 / 30%);
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -40%);
   margin: auto;
  }
  
  .form .tab-header {
    height: 50px;
    line-height: 50px;
    border: 1px solid #555;
  }
  
  .form .tab-header>div {
    width: 50%;
    float: left;
    text-align: center;
    background: #ddd;
    color: #555;
    cursor: pointer;
  }
  
  .form .tab-header>div.active {
    background: #f5f5f5;
    color: #111;
  }
  
  .form .tab-content {
    padding: 20px;
  }
  
  .form .tab-content .form-element {
    margin: 10px 0px;
  }
  
  .form .tab-content .form-element input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    font-size: 16px;
    background: #f5f5f5;
    border-radius: 5px;
    outline: none;
  }
  
  .form .tab-content .form-element input[type="checkbox"] {
    width: 30px;
    margin: 8px 0px;
    margin-left: -5px;
  }
  
  .form .tab-content .form-element label {
    color: #111;
  }
  
  .form .tab-content .form-element button {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #00acee;
    color: #f5f5f5;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .form .tab-content>div.active {
    display: block;
  }
  
  .form .tab-content>div {
    display: none;
  }
  #header2 {
    height: 75px;
    box-shadow:0 2px 8px 0 rgb(0 0 0 / 20%);
    margin: 0 0 32px;
    margin-top: 0px;
    width:100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    margin-bottom: 25%;
    margin-top: -10px;
  }
  .img1 {
  width: 15%;
  }
  
  nav {
    margin: auto;
    margin-bottom: 2%;
    text-align: center;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0, 26);
    background-color: white;
  }
  button{
    padding: 2px;
    width: 30%;
    border-radius: 5px;
   
  }
  
  
  button>img {
    max-width: 40px;
    
    float: left;
    justify-content: center;
    align-items: center;
  }
  .btn2 p{
    justify-content: center;
    align-items: center;
  }
  
  
  h3 {
    font-size: 50px;
    font-weight: inherit;
  }
  
  .btn1 {
    max-width: 100px;
    background-color: rgb(3, 3, 88);
    font-weight: bolder;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .title{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: lighter;
  }